    /* color variable in functions.php */
	:root{            
		--text-shadow: 2px 15px 35px rgba(0,0,0,0.25);
		--gredient: radial-gradient(circle 800px at center 8%, rgba(255,255,255,0.1), var(--color-secondary));
		--gredient-md: radial-gradient(circle 1000px at center 10%, rgba(255,255,255,0.1), var(--color-secondary));
		--text-gredient: radial-gradient(circle 100px at center 0%, rgba(255,255,255,0.1), var(--color-primary));
		--text-gredient-md: radial-gradient(circle 200px at center 0%, rgba(255,255,255,0.1), var(--color-primary));
	}


	html, body{min-width: 100%; min-height: 100%; min-height: 100vh; font-family: 'Poppins', sans-serif; color: var(--color-primary);
	font-size: 1rem; background: var(--gredient); }
	main{min-height: 100%; min-width: 100%; }
	h1, .h1{font-weight: 600; font-size: 2.5em; line-height:1;}
	h2, .h2{ font-weight: 600; font-size: 1.4em;}
	h3, .h3{ font-weight: 600; font-size: 1em;}
	p{ line-height: 1.9; margin: 0 0 1.5rem 0;}



	a{ color: inherit; text-decoration: none; transition: 0.3s;  }
    p a{text-decoration: underline;}

	img{ display: block; width: 100%; }
	

	ol {list-style: none; counter-reset: custom-counter;}
	ol li {counter-increment: custom-counter;  display: flex;}
	ul.left-align{padding-left: 1.25rem;}
	ol li::before {content: counter(custom-counter) "."; margin-right: 0.75rem;}
	
	.sticky{ position: sticky; top: 0px;}
	.max-width-4{ min-width: 360px;}
	.navbar{background: rgba(255, 255, 255, 0);backdrop-filter: blur(20px); }
	.navbar li a{ text-transform: uppercase; border-bottom: 1px solid transparent;}
	.navbar li a:hover, .navbar li.current-menu-item a, .navbar li a:active{ border-color: var(--color-primary);}
	
	
	h1.title{ font-size: 4em; font-weight:800; line-height: 1.25; 
		/* background-image: var(--text-gredient);background-size: 100%;background-repeat: repeat;-webkit-background-clip: text;-webkit-text-fill-color: transparent; -moz-background-clip: text;-moz-text-fill-color: transparent; */
	}    
	.shadow{box-shadow: var(--text-shadow);}
	.fullwidth{ margin: 0; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw;margin-right: -50vw;}

	.bg-default{ color: var(--color-primary); background:#fff} 
	.bg-inverse{ color: var(--color-secondary); background: var(--color-primary); }
	
	.featured-image{max-height: 500px; overflow: hidden;}
	.research img{ width: 100%; height: 100%;  object-fit: cover;}

	.profile figure{ background-color: var(--color-primary); max-width: 300px;}
	.profile img{ width: 100%; height: auto; -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.95;}
	.profile p{margin: 0; line-height: 1.5; font-size: 0.8rem;}

	.sidebar{ min-width: 30vh;}

	.investigators p{ margin-bottom: 0; font-size: small;}
	.investigators h4{font-weight: normal; font-size: small; font-weight: 600;}
	.investigators figure{ background-color: var(--color-primary); max-width: 100px;}
	.investigators .profile{border-bottom: 2px solid transparent;}
	.investigators .profile.pi{border-color: var(--color-primary);}



	@media only screen and (min-width: 52em){ /* breakpoint-md */
		/* html, body{background: var(--gredient-md)} */
		/* h2, .h2{ font-size: 1.6em;} */
		h1.title{ font-size: 9em; text-shadow: var(--text-shadow)}
		/* .excerpt{ padding:4rem }; */
			/* text-shadow: var(--text-shadow);background-image: var(--text-gredient-md); }    */
		/* #research img{ height:100%; width: 100%; object-fit: cover;} */
	}

	@media only screen and (min-width: 64em){ /* breakpoint-lg */
		/* html, body{ font-size: 1.1em;} */
		/* h1, .h1{ font-size: 3.5em;}    */
		h1.title{ font-size: 10.5em;font-weight: 800; text-shadow: var(--text-shadow);}   
		/* .subtitle{ font-size: 1.8em;}                */
		/* .excerpt{ padding:4rem }; */

	}

